/* Loader */

.loader {
    position: fixed;
    z-index: 100000;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

    .loader img {
        display: block;
        width: 180px;
        height: 180px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: .8;
    }

.ui-loader {
    display: none !important;
    opacity: 0 !important;
}
/* classes auxiliares */

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
